[submodule "lib/Zumo32U4"]
	path = lib/Zumo32U4
	url = https://github.com/pololu/zumo-32u4-arduino-library.git
[submodule "lib/fastgpio"]
	path = lib/fastgpio
	url = https://github.com/pololu/fastgpio-arduino
[submodule "lib/poluluhd44780"]
	path = lib/poluluhd44780
	url = https://github.com/pololu/pololu-hd44780-arduino
[submodule "lib/usbpause"]
	path = lib/usbpause
	url = https://github.com/pololu/usb-pause-arduino
[submodule "lib/poluluOled"]
	path = lib/poluluOled
	url = https://github.com/pololu/pololu-oled-arduino
